/*- My CSS Overlay -*/


/* Colors
	lccc yellow : #FBAD3F;
	lccc red: #73192C;
	BLUE background: #4285f4; Google Web Fundamentals Blue
	#404040 grey
	262626 dark grey

	ED3942
	A6050D
	D4121B
	FB5F67
	FC898F

*/

body {
	padding-bottom: 0;
	background-color: #1C1C1C;
}

p {
	font-size: 20px;
}


/* TOP NAV - 111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111*/

.navbar-default {
	/* Top Nav Background Color */
	background-color: #1c1c1c;
	border-radius: none !important;
	margin-bottom: 0;
	border: 0;
}


/* Top of the navigation bar - Fixed top */


/* from freelancer */

.navbar .navbar-nav {
	letter-spacing: 1px;
}

.navbar {
	text-transform: uppercase;
	font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 700;
}

.navbar-default .navbar-nav li a:hover,
.navbar-default .navbar-nav li a:focus,
.navbar-default .navbar-nav li a:active {
	color: #666;
}

@media(max-width: 736px) {
	.navbar-static-top {
		padding: 30px 0;
	}
}

@media(min-width: 737px) {
	.navbar-static-top {
		padding: 30px 0;
	}
}

@media(min-width:768px) {
	.navbar-static-top {
		padding: 75px 0;
		-webkit-transition: padding .3s;
		-moz-transition: padding .3s;
		transition: padding .3s;
	}
	.navbar-static-top .navbar-brand {
		font-size: 2em;
		-webkit-transition: all .3s;
		-moz-transition: all .3s;
		transition: all .3s;
	}
	.navbar-static-top.navbar-shrink {
		padding: 10px 0;
	}
	.navbar-static-top.navbar-shrink .navbar-brand {
		font-size: 1.5em;
	}
}


/*-END - Nav Bar paddng */

.navbar-default .navbar-nav>li>a {
	/* Color of Top Links (4) */
	color: #fff;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
	color: #666;
	background-color: transparent;
}


/* - Center LOGO LOGO LOGO LOGO LOGO LOGO LOGO LOGO LOGO - */


/* The center Logo */

#logo a {
	color: #fff;
	text-decoration: none;
	line-height: 150px;
}

#logo a>span {
	display: inline-block;
	border-top: solid 2px;
	border-bottom: solid 2px;
	border-color: rgba(255, 255, 255, 0.2);
	letter-spacing: 0.15em;
	line-height: 1.2em;
	text-align: center;
	padding: 10px 0;
}

#logo {
	position: absolute;
	z-index: 1100;
	top: 0;
	left: 50%;
	background-color: #fff;
	text-align: center;
	text-transform: uppercase;
	font-weight: normal;
	margin-top: 0;
	color: #000;
}

#logo:after {
	content: '';
	position: absolute;
	left: 0;
	border-top: solid 1px #fff;
	border-left: solid 1px rgba(64, 64, 64, 0);
	border-right: solid 1px rgba(64, 64, 64, 0);
}

@media(max-width: 736px) {
	#logo {
		width: 190px;
		margin-left: -90px;
		height: 110px;
		font-size: 26px;
	}
	#logo:after {
		bottom: -40px;
		border-top-width: 40px;
		border-left-width: 95px;
		border-right-width: 95px;
	}
	.page-scroll3 {
		margin-left: 0;
	}
}

@media(min-width: 737px) {
	#logo {
		width: 190px;
		margin-left: -90px;
		height: 110px;
		font-size: 26px;
	}
	#logo:after {
		bottom: -40px;
		border-top-width: 40px;
		border-left-width: 95px;
		border-right-width: 95px;
	}
	.page-scroll3 {
		margin-left: 0px;
	}
	#Logo_Spacer {
		display: none;
	}
	#Top_navbar_UL {
		margin-left: 0;
	}
}

#logoo {
	margin-top: 10px;
}

@media (max-width: 768px) {
	#logoo {
		margin-top: -45px;
	}
}

@media (min-width: 768px) {
	#logo {
		width: 300px;
		margin-left: -150px;
		height: 200px;
	}
	#logo:after {
		bottom: -60px;
		border-top-width: 60px;
		border-left-width: 150px;
		border-right-width: 150px;
	}
	#Logo_Spacer {
		display: none;
	}
	#Top_navbar_UL {
		margin-left: 0%;
	}
	.page-scroll3 {
		margin-left: 333px;
	}
}

@media (min-width: 992px) {
	#Top_navbar_UL {
		margin-left: 12%;
	}
}

@media (min-width: 1200px) {
	#Top_navbar_UL {
		margin-left: 18.5%;
	}
}


/* CARASEL IMAGE ROTATE	 - 222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222 */

#banner-wrapper {
	position: relative;
	background: #333;
}

#slider .caption {
	position: absolute;
	left: 0;
	width: 100%;
	background-color: rgba(32, 32, 32, 0.50);
	z-index: 3;
	text-align: center;
}

#slider .caption h2 {
	color: #ffffff;
}

#slider .caption p {
	font-weight: 300;
	color: #ffffff;
	font-family: 'Open Sans Condensed', sans-serif;
	margin: 0 50px;
	padding: 30px 0;
}


/*
@media screen and (max-width: 736px){
	#slider {
	    height: 700px;
	}
}*/

@media screen and (min-width: 737px) {
	#slider .caption {
		bottom: 30px;
	}
	#slider {
		height: 500px;
	}
}


/* SERVICES and OTHERS - 33333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333 */

.img-circle {
	width: 200px;
	height: 200px;
}

.services_Title {
	margin: 0px 0 15px 0;
	letter-spacing: 6px;
	font-size: 3.5em;
}

@media (max-width: 768px) {
	.services_Title {
		font-size: 3em;
	}
	.img-circle {
		width: 120px;
		height: 120px;
	}
}

.services {
	background-color: #1c1c1c;
	color: #fff;
	text-transform: capitalize;
	margin-top: 40px;
}

.servicesMenu {
	border-top: solid 3px;
	border-bottom: solid 2px;
	border-color: #00A5C7;
}


/* Service Menu Bar ---- */

.servicesButtons {
	font-size: 2em;
	padding: 0px 10px;
	border-radius: 0;
	text-transform: capitalize;
	background-color: #1C1C1C !important;
	color: #FFF !important;
	text-transform: uppercase !important;
}

.servicesButtons:hover {
	background-color: #00A5C7 !important;
}

#servicesMenu2 {
	display: none;
}

@media (max-width: 825px) {
	.servicesButtons {
		font-size: 1.8em;
	}
}

@media (max-width: 750px) {
	.servicesButtons {
		font-size: 1.6em;
	}
}

@media (max-width: 660px) {
	.servicesButtons {
		font-size: 1.4em;
	}
}

@media (max-width: 590px) {
	.servicesButtons {
		font-size: 1.2em;
	}
	#servicesMenu1 {
		display: none;
	}
	#servicesMenu2 {
		display: block;
	}
}


/* gray divider between three info blocks */

.intro {
	padding: 0;
}

@media (min-width: 768px) {
	.intro:before {
		display: none;
	}
}


/* THE LINES INBETWEEN EACH IMG */

@media (min-width: 992px) {
	.intro:before {
		content: '';
		display: block;
		width: 1px;
		height: 100%;
		background: #333;
		position: absolute;
		top: 0;
	}
}

.btn-default {
	border-color: #1C1C1C;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open>.dropdown-toggle.btn-default {
	border-color: #1C1C1C;
}

.services_moreInfoBtn {
	margin-top: 20px;
}


/* services three info columns */

.services3info {
	text-align: center;
	padding-top: 15px;
	padding-bottom: 33px;
}

.services3info div div h3 {
	margin-top: 5px;
}

.services3info div div p {
	text-align: center;
	margin: 0 auto;
	font-weight: 100;
	letter-spacing: 1px;
	font-size: 17px;
	padding: 0 12px;
}

@media (max-width: 768px) {
	.services3info div div p {
		max-width: 85%;
		margin-bottom: 10px;
	}
}

@media (max-width: 530px) {
	.services3info div div p {
		max-width: 100%;
	}
}

@media (min-width: 768px) {
	.intro:before {
		padding-top: 50px;
		padding-bottom: 50px;
	}
}


/* FOOTER -  */

footer {
	padding-bottom: 50px;
	background-color: #5a5a5a;
}

footer a,
footer a:hover,
footer a:focus,
footer a:active {
	outline: 0;
	color: #00A5C7;
}


/* Color of links (ie. Get Directions) */

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
	border: solid 2px #fff;
	color: #00A5C7;
	background: #fff;
}


/**
 * REVIEWS
 */

.review {
	clear: both;
	margin-top: 30px;
}

.review {
	position: relative;
}

.review .person {
	width: 82px;
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
}

.review .person .reviewer {
	font-size: 1em;
	text-transform: uppercase;
}

.review .person .avatar {
	width: 78px;
	height: 78px;
	border: 1px solid #e5e5e5;
}

.review .person .reviewer {
	color: #EEE;
	word-wrap: break-word;
}

.review .person .avatar {
	background-image: url('/images/person.png');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 60px 60px;
	margin: 3px auto;
}

.review .balloon {
	text-align: left;
	width: auto;
	margin-right: 0;
	background-color: #fafafa;
	border: 1px solid #e5e5e5;
	position: relative;
	padding: 15px 20px;
	margin-left: 105px;
}

.review .balloon h3 {
	display: inline;
	font-size: 1.5em;
	text-decoration: underline;
	position: relative;
	font-family: "Open Sans", sans-serif, verdana, arial;
	font-weight: 300;
}

.review .balloon .rrating {
	margin-top: 8px;
	font-size: 19px;
}

.review .balloon .stamp {
	float: right;
	font-size: 10px;
}

.review .balloon p {
	font-size: 1.2em;
	padding-top: 9px;
	clear: both;
	line-height: 1.5em;
	word-break: break-word;
}

.review .balloon .rrating span {
	float: left;
	margin-right: 5px;
}

.stars {
	margin: 20px 0;
	font-size: 24px;
	color: #00a5c7;
}

@media (max-width: 768px) {
	.review .person {
		display: none;
	}
	.review .balloon {
		margin-left: 0;
	}
}

#showReview {
	background-color: #fff;
	border-radius: 0;
}


/* THE DUMB WAY */
/* THE DUMB WAY */
/* THE DUMB WAY */
/* THE DUMB WAY */

.review .person {
	width: 180px;
	position: relative;
	top: 0;
	text-align: center;
	margin: 10px auto 0 auto;
}

.review .balloon {
	text-align: left;
	width: auto;
	margin-right: 0;
	background-color: #eee;
	border: 1px solid #e5e5e5;
	position: relative;
	padding: 15px 20px;
	margin-left: 0px;
}


/* From Freelancer */

footer {
	color: #fff;
}

footer .footer-above {
	padding-top: 50px;
}

footer .footer-col {
	margin-bottom: 50px;
}

footer h3 {
	margin-bottom: 30px;
}

footer .footer-above {
	padding-top: 50px;
}

footer .footer-col {
	margin-bottom: 50px;
}

footer .footer-below {
	padding: 25px 0;
}

footer h3 {
	text-transform: uppercase;
	font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 700;
}

.btn-social {
	display: inline-block;
	width: 50px;
	height: 50px;
	border-radius: 100%;
	text-align: center;
	font-size: 20px;
	line-height: 45px;
}

.btn-social {
	border: 2px solid #fff;
	border-radius: 100%;
}


/* Color of Border of Social Icons*/

.btn-success {
	color: #ffffff;
	background-color: #4285f4;
	border-color: #4285f4;
}


/* Send Btn Color */

.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active,
.open>.dropdown-toggle.btn-success {
	color: #ffffff;
	background-color: #128f76;
	border-color: #11866f;
}


/* Color of Send Button */

.btn-social {
	border: 2px solid #fff;
	border-radius: 100%;
}


/* Color of Border of Social Icons*/

footer .footer-above {
	background-color: #1C1C1C;
}


/* Main Footer section Background */

footer .footer-below {
	background-color: #1c1c1c;
}


/* Sub Footer Background */


/*iPhone 5*/

@media (max-width: 400px) {
	.servicesMenu .btn-group-justified .btn-group {
		width: 100%;
		display: block;
	}
}